.main {
    margin:0 20% 0 20%;
    width: 60%;
    display: grid;
    grid-template-rows: 25vw 25vw 25vw 25vw 25vw;
    grid-template-columns: 20vw 20vw 20vw;
}

.title {
    margin: 20px 40px;
}

.product {
    margin: 10px;
    box-shadow: 1px 0 5px 1px #999;
    padding: 10px;
    border-radius: 10px;

    a {
        h2 {
            height: 80px;
        }

        img {
            width: 100%;
        }

        p {
            text-align: right;
            padding: 20px;
        }
    }
}